{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - current_path: The Drupal path of the current page.
 * - current_alias: The aliased path of the current page.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}

<footer{{ attributes.addClass(['site-footer']) }}>

  <div{{ attributes.addClass('wrap') }}>
    <p class="visually-hidden">Wherever You Grow</p>
    <a href="/" aria-label="Home">
      <div class="footer-logo"></div>
    </a>

    <div class="footer-contact">
      <p><span>Wherever You Grow<br>106 Sanger Ln<br> Staunton, VA 24401</span></p>
      <p>Branch Office Hours:<br><span>Monday-Friday: 8AM - 5PM</span></p>
      <p>Give Us a Call:<br><a href="tel:18009193276">1-800-919-3276</a></p>
    </div>

    <div class="footer-nav">
      {{ elements.footernavigation }}
    </div>

    <div class="footer-social">
      {{ elements.sociallinks }}
    </div>

    </div> <!-- /.wrap -->
    <p class="copyright">Copyright &copy; {{ "now"|date('Y') }} Wherever You Grow</p>

    {{ elements.agfirstlinkmessage }}

</footer> <!-- /.site-footer -->

{% endif %}
