{% extends template_directory ~ '/base.html.twig' %}

{% block page_title %}How to Begin Your Search for a Country Home | {{ display_name }} {% endblock %}

{% block header_class %}header-page page-article-2{% endblock %}

{% block masthead %}
  <div class="masthead">
    <p class="fancy">exclusive article</p>
    <h1>How to Begin Your Search for a Country Home</h1>
    <p class="lead">9 minute read</p>
  </div>
{% endblock %}

{% block main %}
  <main class="site-main">
    <a id="main-content" tabindex="-1"></a>
    <section class="main-content">
      <div class="container">
        <blockquote><p>Have you been thinking of trading in skyscrapers and nosy neighbors for the peace and quiet
            of your own country acres? Are you struggling with where to start? Good news! Our guide will give you
            some action steps you can take now to prepare for the future you want tomorrow.
            It’s helpful to set some parameters around where you are looking to grow and why before getting in touch
            with a real estate agent and lender. Use this checklist to get the conversation started:
          </p></blockquote>
        <h2 class="h4 text-center" style="margin-bottom:1.25rem">Take action today to prepare for country living
          tomorrow:</h2>
        <p class="text-center"><a class="btn btn-primary" href="{{ article_download }}" target="_blank">Download
            The Fillable Guide</a></p>
      </div>
    </section>
    <section class="valueadd" style="padding-top:0;">
      <div class="section-heading">
        <div class="container">
          <h2>Like this article?</h2>
          <p class="lead">You might find these helpful, too:</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-2">
            <a target="_blank" href="/campaign/{{ association_key }}/article-1" class="card card-1">
              <img src="img/card-1-fg.jpg" alt="">
              <h3>Tips for landing the right property</h3>
              <p>8 minute read</p>
            </a>
          </div>
          <div class="col-md-4">
            <a target="_blank" href="/campaign/{{ association_key }}/article-3" class="card card-3">
              <img src="img/card-3-fg.jpg" alt="">
              <h3>5 mistakes to avoid when buying rural property</h3>
              <p>11 minute read</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="prefooter" id="prefooter">
      <div class="container">
        <h2 class="display"><span class="fancy">wherever</span><br>you grow</h2>
        <p class="typed">Farm Credit has the tools to help you cultivate your dreams.</p>
        <a href="/campaign/{{ association_key }}/contact" class="btn btn-block btn-outline-light">Get Started</a>
      </div>
    </section>
  </main>
{% endblock %}
